---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const misc = await getCollection('misc');
---

<Layout title='LittleBigLogic'>
	<h2>Miscellaneous</h2>
	<ul>
		{misc.map(page => (
			<li>
				<a href={`/misc/${page.slug}`}>{page.data.title}</a>
			</li>
		))}
	</ul>
</Layout>
